#banner {
   background-image: linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.95)), url(https://i.ibb.co/d0H9Wyw/pngtree-beaming-teenagers-donning-plain-white-tshirts-as-a-group-photo-image-18802190.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}